site_name: Live de Python
theme:
  name: material
  features:
    - content.code.copy
  palette:
    - scheme: default
      primary: black
      toggle:
        icon: material/weather-night
        name: Modo noturno
    - scheme: slate
      primary: black
      toggle:
        icon: material/weather-sunny
        name: Modo claro

markdown_extensions:
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - admonition
    - pymdownx.arithmatex:
        generic: true
    - footnotes
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.mark
    - attr_list

plugins:
- search
- mkdocstrings:
    handlers:
      python:
        options:
          scoped_crossrefs: true
          relative_crossrefs: true
          separate_signature: true
          show_signature_annotations: true
          signature_crossrefs: true
          show_root_heading: true
          unwrap_annotated: true
          show_symbol_type_heading: true
          show_symbol_type_toc: true
          show_if_no_docstring: true